.statsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
    gap: 15px;
  }
  
  .statBox {
    flex: 1;
    min-width: 150px;
    background-color: #f8f9fa;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    text-align: center;
    transition: transform 0.2s;
  }
  
  .statBox:hover {
    transform: translateY(-3px);
  }
  
  .statLabel {
    font-size: 14px;
    color: #6c757d;
    margin-bottom: 8px;
  }
  
  .statValueHighlight {
    font-size: 26px;
    font-weight: bold;
    color: #5D6CC9;
  }
  
  /* Stats card color variations */
  .statBox:nth-child(1) .statValueHighlight {
    color: #FFA726; /* Orange for In Progress */
  }
  
  .statBox:nth-child(2) .statValueHighlight {
    color: #42A5F5; /* Blue for Submitted */
  }
  
  .statBox:nth-child(3) .statValueHighlight {
    color: #5D6CC9; /* Purple for Total */
  }
  
  .statBox:nth-child(4) .statValueHighlight {
    color: #66BB6A; /* Green for Passing */
  }
  
  .statBox:nth-child(5) .statValueHighlight {
    color: #EF5350; /* Red for Failing */
  }
  
  .statBox:nth-child(6) .statValueHighlight {
    color: #AB47BC; /* Purple for Pass Rate */
  }
  
  /* Dark mode support */
  :global(body.dark) .statBox {
    background-color: #3a3a3a;
  }
  
  :global(body.dark) .statLabel {
    color: #adb5bd;
  }
  
  /* Keep the colors vibrant in dark mode */
  :global(body.dark) .statBox:nth-child(1) .statValueHighlight {
    color: #FFB74D;
  }
  
  :global(body.dark) .statBox:nth-child(2) .statValueHighlight {
    color: #64B5F6;
  }
  
  :global(body.dark) .statBox:nth-child(3) .statValueHighlight {
    color: #7986CB;
  }
  
  :global(body.dark) .statBox:nth-child(4) .statValueHighlight {
    color: #81C784;
  }
  
  :global(body.dark) .statBox:nth-child(5) .statValueHighlight {
    color: #E57373;
  }
  
  :global(body.dark) .statBox:nth-child(6) .statValueHighlight {
    color: #BA68C8;
  }
  
  /* Add some media query for smaller screens */
  @media (max-width: 768px) {
    .statsContainer {
      flex-direction: column;
    }
    
    .statBox {
      min-width: 100%;
    }
  }