.assignmentList {
  width: 45%;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  overflow-y: auto;
}

.assignmentList h3 {
  margin-bottom: 10px;
}

.assignmentList ul {
  list-style-type: none;
  padding: 0;
}

.assignmentList li {
  padding: 8px 12px;
  color: #5D6CC9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  transition: background-color 0.2s ease;
}

.assignmentList li:hover {
  color: #0056b3;
  background-color: #f8f9fa;
  cursor: pointer;
}

.assignmentName {
  flex: 1;
  margin-right: 10px;
}

.liveIndicator {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
  color: #28a745;
  padding: 4px 8px;
  border-radius: 12px;
  background-color: rgba(40, 167, 69, 0.1);
}

.liveDot {
  width: 8px;
  height: 8px;
  background-color: #28a745;
  border-radius: 50%;
  margin-right: 6px;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(40, 167, 69, 0.7);
  }
  
  70% {
      transform: scale(1);
      box-shadow: 0 0 0 6px rgba(40, 167, 69, 0);
  }
  
  100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(40, 167, 69, 0);
  }
}

/* Dark mode support */
body.dark .assignmentList {
  background-color: #444;
  border: 1px solid #555;
}

body.dark .assignmentList li {
  color: #8797ed;
}

body.dark .assignmentList li:hover {
  color: #0056b3;
  background-color: #555;
}

body.dark .liveIndicator {
  background-color: rgba(40, 167, 69, 0.2);
}