/* Also includes the CSS for Menu and Statistics */

.chartContent {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-grow: 1;
}

.menu {
    display: flex;
    justify-content: space-around;
    background-color: #f0f0f0;
    border-bottom: 1px solid #ccc;
    width: 100%;
    margin-bottom: 10px;
}

.menu button {
    background-color: white;
    border: none;
    padding: 10px 0;
    cursor: pointer;
    flex-grow: 1;
    transition: background-color 0.3s ease;
    text-align: center;
    font-size: 18px;
}

.menu button.active,
.menu button:hover {
    background-color: #eee;
}

.menuLabel {
    color: #871751;
}

.downloadButton, .updateButton {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #5D6CC9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin-top: 20px;
}

.downloadButton:hover, .updateButton:hover {
    background-color: #0056b3;
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.lastUpdated {
    margin-top: 10px;
    font-size: 0.9em;
    color: #777;
    text-align: right;
}

.toggleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #5D6CC9;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.toggleLabel {
    font-size: 16px;
    margin: 0 10px;
}

.statisticsContainer {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.statisticBox {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
}

.statisticBox:hover {
    background-color: #eee;
}

.statisticLabel {
    font-size: 14px;
    color: #871751;
    margin: 0;
}

.statisticValue {
    font-size: 24px;
    font-weight: bold;
    margin: 5px 0 0 0;
}

body.dark .charts-container {
    background-color: #333;
}

body.dark .downloadButton {
    background-color: #8797ed;
}

body.dark .downloadButton:hover {
    background-color: #4a56a5;
}

body.dark .menu {
    background-color: #444;
    border-bottom: 1px solid #555;
}

body.dark .menu button.active,
body.dark .menu button:hover {
    background-color: #555;
}

body.dark .statisticBox {
    background-color: #444;
    border: 1px solid #555;
}

body.dark .statisticLabel {
    color: #b83870;
}

.progressBarContainer {
    width: 100%;
    height: 20px;
    background-color: #e0e0e0;
    border-radius: 10px;
    margin: 20px 0;
    overflow: hidden;
    position: relative;
}

.progressBarFill {
    height: 100%;
    background-color: #4CAF50;
    transition: width 0.5s ease-in-out;
}

.progressBarText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
}

.loadingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

/* Chart color classes */
.fullyCorrect {
    background-color: #BAEFB9;
  }
  
.partiallyCorrect {
background-color: #FFB715;
}

.fullyIncorrect {
background-color: #FD3C08;
}

.notChecked {
background-color: #5D6CC9;
}

.notAttempted {
background-color: #871751;
}

/* Partial mark colors */
.partialMark0 { background-color: #FFD700; }
.partialMark1 { background-color: #FFDA13; }
.partialMark2 { background-color: #FFDD26; }
.partialMark3 { background-color: #FFE039; }
.partialMark4 { background-color: #FFE34C; }
.partialMark5 { background-color: #FFE65F; }
.partialMark6 { background-color: #FFE972; }
.partialMark7 { background-color: #FFEC85; }
.partialMark8 { background-color: #FFEF98; }
.partialMark9 { background-color: #FFF2AB; }
.partialMark10 { background-color: #FFA500; }

.visibilityControls {
    margin: 0;
    padding: 15px;
    background-color: #f5f5f5;
    border-radius: 8px;
    border: 1px solid #ddd;
}

.controlsHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.controlsTitle {
    margin: 0;
    font-size: 16px;
    color: #333;
}

.controlsButtons {
    display: flex;
    gap: 10px;
}

.controlButton {
    padding: 6px 12px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: white;
    cursor: pointer;
    transition: all 0.2s ease;
}

.controlButton:hover {
    background-color: #e9e9e9;
}

.checkboxGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 10px;
    max-height: 200px;
    overflow-y: auto;
    padding: 10px;
    background-color: white;
    border-radius: 4px;
    border: 1px solid #eee;
}

.checkboxLabel {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    cursor: pointer;
    padding: 4px;
    border-radius: 4px;
    transition: background-color 0.2s ease;
}

.checkboxLabel:hover {
    background-color: #f0f0f0;
}

.checkboxLabel input[type="checkbox"] {
    cursor: pointer;
}

/* Dark mode support */
body.dark .visibilityControls {
    background-color: #444;
    border-color: #555;
}

body.dark .controlsTitle {
    color: #f5f5f5;
}

body.dark .controlButton {
    background-color: #555;
    border-color: #666;
    color: #f5f5f5;
}

body.dark .controlButton:hover {
    background-color: #666;
}

body.dark .checkboxGrid {
    background-color: #333;
    border-color: #555;
}

body.dark .checkboxLabel {
    color: #f5f5f5;
}

body.dark .checkboxLabel:hover {
    background-color: #555;
}

.belowChartControls {
    margin-top: 20px;
    margin-bottom: 20px;
    border-top: 1px solid #eee;
    padding-top: 20px;
}

.visibilityControls {
    margin: 0;
    padding: 15px;
    background-color: #f5f5f5;
    border-radius: 8px;
    border: 1px solid #ddd;
}

/* Dark mode support */
body.dark .belowChartControls {
    border-top-color: #555;
}

.viewModeToggle {
    display: flex;
    gap: 8px;
    margin-bottom: 16px;
}

.viewModeButton {
    padding: 8px 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background: white;
    cursor: pointer;
    transition: all 0.2s ease;
}

.viewModeButton:hover {
    background: #f5f5f5;
}

.viewModeButton.active {
    background: #5D6CC9;
    color: white;
    border-color: #5D6CC9;
}

.submissionControls {
    background-color: #f8f9fa;
    border: 1px solid #e9ecef;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 20px;
}

.viewModeContainer {
    display: flex;
    align-items: center;
    gap: 16px;
}

.modeLabel {
    font-weight: 600;
    color: #495057;
    min-width: 80px;
}

.buttonGroup {
    display: flex;
    gap: 12px;
}

.modeButton {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 16px;
    border: 2px solid #dee2e6;
    border-radius: 6px;
    background-color: white;
    color: #495057;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease;
}

.modeButton:hover {
    background-color: #f1f3f5;
}

.activeMode {
    background-color: #5D6CC9;
    color: white;
    border-color: #5D6CC9;
}

.radioCircle {
    width: 16px;
    height: 16px;
    border: 2px solid currentColor;
    border-radius: 50%;
    position: relative;
}

.activeMode .radioCircle::after {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: white;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.statsContainer {
    margin-top: 16px;
    padding: 12px;
    background-color: white;
    border: 1px solid #dee2e6;
    border-radius: 6px;
}

.statsHeader {
    font-weight: 600;
    color: #495057;
    margin-bottom: 8px;
}

.statsItem {
    display: flex;
    justify-content: space-between;
    padding: 4px 0;
    color: #6c757d;
}

.statsValue {
    font-weight: 600;
    color: #5D6CC9;
}

.submissionSummary {
    background-color: #f8f9fa;
    border: 1px solid #e9ecef;
    border-radius: 8px;
    padding: 16px;
    margin: 10px 0 20px 0;
  }
  
  .submissionSummary h4 {
    margin-top: 0;
    margin-bottom: 12px;
    color: #495057;
    font-size: 16px;
    font-weight: 600;
  }
  
  .summaryStats {
    display: flex;
    justify-content: space-between;
  }
  
  .statItem {
    flex: 1;
    text-align: center;
    padding: 8px;
    background-color: white;
    border-radius: 6px;
    margin: 0 5px;
  }
  
  .statLabel {
    display: block;
    font-size: 14px;
    color: #6c757d;
    margin-bottom: 4px;
  }
  
  .statValue {
    display: block;
    font-size: 24px;
    font-weight: bold;
    color: #5D6CC9;
  }
  
  .noDataMessage {
    text-align: center;
    padding: 30px;
    font-size: 16px;
    color: #6c757d;
    background-color: #f8f9fa;
    border-radius: 8px;
    margin: 20px 0;
  }
  
  /* Dark mode support */
  body.dark .submissionSummary {
    background-color: #444;
    border-color: #555;
  }
  
  body.dark .submissionSummary h4 {
    color: #f5f5f5;
  }
  
  body.dark .statItem {
    background-color: #333;
  }
  
  body.dark .statLabel {
    color: #adb5bd;
  }
  
  body.dark .statValue {
    color: #8797ed;
  }
  
  body.dark .noDataMessage {
    background-color: #333;
    color: #adb5bd;
  }

  .errorMessage {
    display: flex;
    align-items: flex-start;
    padding: 16px;
    margin: 16px 0;
    border-radius: 8px;
    background-color: #fff3cd;
    border: 1px solid #ffeeba;
    color: #856404;
  }
  
  .errorIcon {
    font-size: 24px;
    margin-right: 16px;
    flex-shrink: 0;
  }
  
  .errorContent {
    flex: 1;
  }
  
  .errorContent h4 {
    margin-top: 0;
    margin-bottom: 8px;
    color: #856404;
    font-size: 18px;
  }
  
  .errorContent p {
    margin-top: 0;
    margin-bottom: 8px;
  }
  
  .errorHint {
    font-style: italic;
    color: #6c757d;
  }
  
  /* Dark mode support */
  body.dark .errorMessage {
    background-color: #332701;
    border-color: #665501;
    color: #ffe69c;
  }
  
  body.dark .errorContent h4 {
    color: #ffe69c;
  }
  
  body.dark .errorHint {
    color: #adb5bd;
  }

  .statsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
    gap: 15px;
  }
  
  .statCard {
    flex: 1;
    min-width: 150px;
    background-color: #f8f9fa;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    text-align: center;
    transition: transform 0.2s;
  }
  
  .statCard:hover {
    transform: translateY(-3px);
  }
  
  .statTitle {
    font-size: 14px;
    color: #6c757d;
    margin-bottom: 8px;
  }
  
  .statValue {
    font-size: 26px;
    font-weight: bold;
    color: #5D6CC9;
  }
  
  /* Stats card color variations */
  .statCard:nth-child(1) .statValue {
    color: #FFA726; /* Orange for In Progress */
  }
  
  .statCard:nth-child(2) .statValue {
    color: #42A5F5; /* Blue for Submitted */
  }
  
  .statCard:nth-child(3) .statValue {
    color: #66BB6A; /* Green for Passing */
  }
  
  .statCard:nth-child(4) .statValue {
    color: #EF5350; /* Red for Failing */
  }
  
  .statCard:nth-child(5) .statValue {
    color: #AB47BC; /* Purple for Pass Rate */
  }
  
  /* Dark mode support */
  body.dark .statCard {
    background-color: #3a3a3a;
  }
  
  body.dark .statTitle {
    color: #adb5bd;
  }
  
  /* Keep the colors vibrant in dark mode */
  body.dark .statCard:nth-child(1) .statValue {
    color: #FFB74D;
  }
  
  body.dark .statCard:nth-child(2) .statValue {
    color: #64B5F6;
  }
  
  body.dark .statCard:nth-child(3) .statValue {
    color: #81C784;
  }
  
  body.dark .statCard:nth-child(4) .statValue {
    color: #E57373;
  }
  
  body.dark .statCard:nth-child(5) .statValue {
    color: #BA68C8;
  }
  
  /* Add some media query for smaller screens */
  @media (max-width: 768px) {
    .statsContainer {
      flex-direction: column;
    }
    
    .statCard {
      min-width: 100%;
    }
  }