.gradeDistributionContainer {
    margin: 30px 0;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  }
  
  .chartTitle {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 18px;
    color: #495057;
    text-align: center;
  }
  
  .gradeDistributionChart {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .gradeBar {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .gradeLabel {
    width: 50px;
    text-align: right;
    font-size: 14px;
    color: #6c757d;
  }
  
  .barContainer {
    flex-grow: 1;
    height: 30px;
    background-color: #e9ecef;
    border-radius: 4px;
    overflow: hidden;
  }
  
  .barFill {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 8px;
    min-width: 30px;
    transition: width 0.5s ease;
  }
  
  .barCount {
    color: white;
    font-weight: bold;
    text-shadow: 0 1px 2px rgba(0,0,0,0.3);
  }
  
  .percentageLabel {
    width: 50px;
    text-align: left;
    font-size: 14px;
    color: #6c757d;
  }
  
  .distributionLegend {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
  }
  
  .legendItem {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    color: #6c757d;
  }
  
  .legendColor {
    width: 16px;
    height: 16px;
    border-radius: 3px;
  }
  
  /* Dark mode support */
  :global(body.dark) .gradeDistributionContainer {
    background-color: #3a3a3a;
  }
  
  :global(body.dark) .chartTitle {
    color: #dee2e6;
  }
  
  :global(body.dark) .gradeLabel,
  :global(body.dark) .percentageLabel,
  :global(body.dark) .legendItem {
    color: #adb5bd;
  }
  
  :global(body.dark) .barContainer {
    background-color: #495057;
  }
  
  :global(body.dark) .barFill {
    opacity: 0.85; /* Slightly reduce opacity for less harsh colors in dark mode */
  }
  
  /* Add some media query for smaller screens */
  @media (max-width: 768px) {
    .gradeBar {
      flex-wrap: wrap;
    }
    
    .gradeLabel {
      width: 40px;
      font-size: 12px;
    }
    
    .percentageLabel {
      width: 40px;
      font-size: 12px;
    }
    
    .distributionLegend {
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }
  }