.appContainer {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 400px 1fr;
  background-color: #f9f9f9;
  height: 90%;
  width: 100%;
}

.content {
  display: contents;
}

.sideMenu {
  grid-row: 2;
  background-color: #fff;
  padding: 20px;
  border-right: 1px solid #ccc;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.chartContainer {
  grid-row: 2;
  background-color: #fff;
  margin: 30px;
  height: 92vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow-y: auto;
}

.assignmentsContainer {
  display: flex;
  justify-content: space-between;
  background-color: #f9f9f9;
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px 100px;
}

body.dark .appContainer {
  background-color: #333;
  color: #f5f5f5;
}

body.dark .sideMenu {
  background-color: #444;
}

body.dark .chartContainer {
  background-color: #444;
}
.appContainer {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 400px 1fr;
  background-color: #f9f9f9;
  height: 90%;
  width: 100%;
}

.content {
  display: contents;
}

.sideMenu {
  grid-row: 2;
  background-color: #fff;
  padding: 20px;
  border-right: 1px solid #ccc;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow-y: auto; /* Add scroll if content is too tall */
}

/* New class to contain selectors with proper spacing */
.selectorsWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.chartContainer {
  grid-row: 2;
  background-color: #fff;
  margin: 30px;
  height: 92vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow-y: auto;
}

.assignmentsContainer {
  display: flex;
  justify-content: space-between;
  background-color: #f9f9f9;
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px 100px;
}

/* Fix assignment selector spacing */
.assignmentSelectorContainer {
  margin-top: 10px;
}

/* Loading state */
.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  font-size: 16px;
  color: #777;
}

/* Dark mode styles */
:global(body.dark) .appContainer {
  background-color: #333;
  color: #f5f5f5;
}

:global(body.dark) .sideMenu {
  background-color: #444;
  border-right-color: #555;
}

:global(body.dark) .chartContainer {
  background-color: #444;
}

:global(body.dark) .assignmentsContainer {
  background-color: #333;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  .appContainer {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
  }

  .sideMenu {
    grid-row: 2;
    grid-column: 1;
    border-right: none;
    border-bottom: 1px solid #ccc;
  }

  .chartContainer {
    grid-row: 3;
    grid-column: 1;
    margin: 10px;
    height: auto;
  }
}