.loginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .subtitle {
    margin-bottom: 2rem;
    text-align: center;
  }
  
  .apiKeyBox {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .apiKeyInput {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
  }
  
  .submitButton {
    width: 100%;
    padding: 0.75rem;
    background-color: #702053;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .submitButton:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .infoButton {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #702053;
    color: white;
    text-align: center;
    line-height: 24px;
    cursor: pointer;
  }
  
  .infoTooltip {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    padding: 0.5rem;
    background-color: #333;
    color: white;
    border-radius: 4px;
    font-size: 0.875rem;
    z-index: 1000;
  }
  
  .errorMessage {
    color: #dc3545;
    margin-top: 0.5rem;
    text-align: center;
  }
  
  .demoButton {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: transparent;
    border: 1px solid #702053;
    color: #702053;
    border-radius: 4px;
    cursor: pointer;
  }