.navbar {
    width: 100%;
    background-color: #871751;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    box-sizing: border-box;
}

.logo img {
    height: 60px;
}

.navLinks {
    display: flex;
    align-items: center;
}

.navLinks a {
    color: white;
    margin-left: 20px;
    background-color: transparent;
}

.navIcon {
    width: 24px;
    height: 24px;
    padding: 5px;
    background-color: transparent;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
    background-color: #702053;
    color: white;
}

.logo img {
    height: 40px;
    width: auto;
}

.navLinks {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.navIcon {
    width: 24px;
    height: 24px;
    transition: opacity 0.2s ease;
}

.navIcon:hover {
    opacity: 0.8;
}

.logoutButton {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.logoutButton:hover {
    opacity: 0.8;
}

/* Optional tooltip on hover */
.logoutButton {
    position: relative;
}

.logoutButton::after {
    content: 'Logout';
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 12px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease, visibility 0.2s ease;
}

.logoutButton:hover::after {
    opacity: 1;
    visibility: visible;
}