.container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.title {
  color: #333;
  margin-bottom: 20px;
}

.statsContainer {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

.totalRequests,
.minuteRequests {
  flex: 1;
  min-width: 300px;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.count {
  font-size: 2em;
  color: #4a90e2;
  font-weight: bold;
  margin: 10px 0;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.th,
.td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #eee;
}

.th {
  background-color: #f5f5f5;
  font-weight: bold;
}

.tableRow:hover {
  background-color: #f9f9f9;
}

.errorMessage {
  color: #dc3545;
  padding: 20px;
  text-align: center;
  background-color: #f8d7da;
  border-radius: 4px;
  margin: 20px auto;
  max-width: 800px;
}

.tableWrapper {
  max-height: 400px;
  overflow-y: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.hasRequests {
  background-color: #f0f8ff;
} 