.selectorContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
  max-width: 100%;
  width: 100%;
}

.searchAndSortContainer {
  display: flex;
  gap: 8px;
  width: 100%;
}

.searchInput {
  flex: 1;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
}

.sortButton {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
  font-size: 16px;
}

.yearFilter {
  width: 100%;
}

.yearSelect {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
}

.courseSelectWrapper {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  margin-bottom: 15px; /* Add margin to fix spacing */
}

.courseSelect {
  width: 100%;
  height: 300px; /* Keep this height for courses */
  padding: 8px;
  font-size: 14px;
  border: none;
  outline: none;
  background-color: transparent;
  overflow-x: auto;
  white-space: nowrap;
}

.assignmentSelect {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  height: auto; /* Change this to auto for the assignment dropdown */
}

/* Make course and assignment options horizontally scrollable */
.courseSelect option,
.assignmentSelect option {
  padding: 8px;
  font-size: 12px;
  white-space: nowrap;
}

/* Hover States */
.courseSelectWrapper:hover,
.yearSelect:hover,
.searchInput:hover,
.sortButton:hover,
.assignmentSelect:hover {
  border-color: #999;
}

/* Focus States */
.courseSelectWrapper:focus-within,
.yearSelect:focus,
.searchInput:focus,
.sortButton:focus,
.assignmentSelect:focus {
  border-color: #702053;
  outline: none;
  box-shadow: 0 0 0 2px rgba(112, 32, 83, 0.2);
}

/* Dark Mode */
:global(body.dark) .courseSelectWrapper,
:global(body.dark) .yearSelect,
:global(body.dark) .searchInput,
:global(body.dark) .sortButton,
:global(body.dark) .assignmentSelect {
  background-color: #444;
  border-color: #555;
  color: #f5f5f5;
}

:global(body.dark) .courseSelect,
:global(body.dark) .assignmentSelect {
  color: #f5f5f5;
}

:global(body.dark) .courseSelect option,
:global(body.dark) .assignmentSelect option {
  background-color: #444;
  color: #f5f5f5;
}

/* Loading and Error States */
.loading,
.error {
  padding: 8px;
  font-size: 14px;
  margin-bottom: 10px;
  text-align: center;
}

.error {
  color: #dc3545;
  border: 1px solid #dc3545;
  border-radius: 4px;
  background-color: rgba(220, 53, 69, 0.1);
}